@font-face {
	font-family: kaset;
	src: url('../fonts/kaset.ttf');
}

@font-face {
	font-family: lato;
	src: url('../fonts/Lato-Thin.ttf');
}

body{
	font-family: lato;
	padding: 0;
	margin : 0;
}

#bigImg{
	margin: 0;
	background: #1abc9c;
	position: relative;
	height: 80%;
	text-align: center;
}
#bigImg p{
	margin: 0;
	color : white;
	font-size: 75;
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
#makeMeScrollable
{
	width:100%;
	height: 20%;
	position: relative;
}

/* Replace the last selector for the type of element you have in
   your scroller. If you have div's use #makeMeScrollable div.scrollableArea div,
   if you have links use #makeMeScrollable div.scrollableArea a and so on. */
#makeMeScrollable div.scrollableArea .card
{

	background: #16a085;
	position: relative;
	float: left;
	width: 250px;
	height : 100%;
 	/*border-top: 10px solid #f1c40f;*/
 	border-right: 1px solid white;
	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 0px;
}
.card p{
	margin: 0;
	color : white;
	position: relative;
	padding-left: 20px;
  	top: 35%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.card:hover{
	opacity : 0.5;
	cursor: pointer;
}

#topic{
	font-size: 22px;
	font-weight: bold;
}

#info{
	font-size: 18px;
	font-weight: normal;
}