@font-face{
	font-family: kaset;
	src: url('../fonts/kaset.ttf');
}

body{
	margin:0;
	font-family: kaset;
}

.wrapper{
	width: 100%;
	overflow: hidden;
}

#scroller{
	width : 15%;
	float: left;
	height : 100%;
	overflow: auto;
	background: #1abc9c;
}

.card{
	height : 95px;
	border-top: 2px solid white;
	-webkit-border-radius: 3px;
 	-moz-border-radius: 3px;
 	border-radius: 0px;
}

.card p{
	padding-left : 10px;
	color : white;
	font-weight: bold;
}

.card:hover{
	cursor : pointer;
	background: #16a085;
	opacity: 0.8;
}
#full{
	margin: 0;
	width: 85%;
	height: 100%;
	float: left;
	overflow: auto;
	background: #2ecc71;
}

#questionText{
	margin: 2px;
	font-size: 40px;
	padding-left: 10px;
}
#topicHeader {
	background: #27ae60;
	height: 100px;
	text-align: center;
}

#topicHeader p{
	margin :0;
	font-size: 50;
  	padding-top: 20px;
  	font-weight: bold;
}

#information{
	padding-left: 20px;
}

#codeBlock{
	width:100%;
	padding-left: 15%;
} 
#editor{
	clear: left;
	border: 10px solid rgba(0, 0, 0, 0.3);
	-moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: border;  /* Safari 4? Chrome 6? */
  background-clip: border-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
				
  -moz-background-clip: content;     /* Firefox 3.6 */
  -webkit-background-clip: content;  /* Safari 4? Chrome 6? */
  background-clip: content-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
	font-size: 15px;
	height : 400px;
	width: 70%;
}

.IO{
	width: 100%;
	text-align: center;
}

.perIO{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.IOText{
	overflow: auto;
	float: left;
	width : 35%;
	padding: 9.5px;
	margin: 0px 10px 10px;
	font-size: 16px;
	background: #e67e22;
}

.text1{
	text-align: left;
	font-weight: bold;
	float: left;
	width : 35%;
	padding: 9.5px;
	margin: 0px 10px 0px;
	font-size: 16px;
}