@font-face {
  font-family: kaset;
  src: url("../fonts/kaset.ttf");
}

body {
  background: linear-gradient(#0f9d58 50%, #333 50%) fixed;
  background-size: cover;
  font-family: kaset;
  position:relative;
  text-align: center;
}
.form {
  position: relative;
  background: #ffffff;
  width: 50%;
  margin: 13% auto 0;
  padding: 30px;
  border-top: 5px solid #2ECC71;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
    border-radius: 3px;
  /*-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.01);*/

}

.form:before{
  content: '';
  position: absolute;
  top: -16px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.form .login-message{
  color: red;
  font-size: 14px;
  font-weight: 800;
}

.form .switch {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: #2ECC71;
  width: 30px;
  height: auto;
  margin: -5px 0 0;
  -webkit-border-radius: 0 3px 0 3px;
  -moz-border-radius: 0 3px 0 3px;
  border-radius: 0 3px 0 3px;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form .switch .tooltip {
  position: absolute;
  top: 5px;
  right: -65px;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  width: auto;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
}
.form .switch .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form .register {
  display: none;
}
.form h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #2ECC71;
  font-size: 25px;
  font-weight: 800;
}
.form .alert {
  position: relative;
  background: #f3f3f3;
  color: #666666;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
}
.form .alert .fa-times-circle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: -8px;
  float: right;
}
.form input {
  outline: none;
  display: block;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px 15px;
  border: 1px solid #d9d9d9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ccc;
  /*font-family: "kaset";*/
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-wieght: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.form input:focus {
  color: #333333;
  border: 1px solid #33b5e5;
}
.form button {
  cursor: pointer;
  background: #2ECC71;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 25px;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  /*font-family: "kaset";*/
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.form button:hover {
  background: #f1c40f;
}
.form footer {
  background: #f2f2f2;
  width: 100%;
  padding: 15px 40px;
  margin: 0 0 -40px -40px;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  color: #666666;
  font-size: 12px;
  text-align: center;
}
.form footer a {
  color: #333333;
  text-decoration: none;
}
.info {
  width: 300px;
  margin: 25px auto;
  text-align: center;
}
.info h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
.info span {
  color: #666666;
  font-size: 12px;
}
.info span a {
  color: #000000;
  text-decoration: none;
}
.info span .fa {
  color: #33b5e5;
}
.info span .spoilers {
  color: #999999;
  margin-top: 5px;
  font-size: 10px;
}

/* Two Column Login Layout */
div.login-left {
  margin: 30px auto;
  width:220px;
  height:200px;
  float:left;
}

div.login-left h1 {
  font-size: 200%;
  color: #2ECC71;
}


div.login-right {
  width:200px;
  height:200px;
  float:right;
}

div.divider{
    position:absolute;
    left: 50%;
    top:30%;
    bottom:10%;
    border-left:1px solid #BBB;
}

div.login {
  height: 210px;
}

span.sup {
    vertical-align: super;
    font-size: smaller;
}
